.country-select-wrapper {
  /* position: relative; */
  /* max-width: 420px; */

  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Input */
.country-input {
  width: 100%;
  padding: 14px 18px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
}

.country-input:focus {
  border-color: #38bdf8;
  box-shadow: 0 0 0 2px rgba(56,189,248,0.4);
}

/* Dropdown */
.country-dropdown {
  /* position: absolute; */
  width: 100%;
  margin-top: 10px;
  list-style: none;
  max-height: 260px;
  overflow-y: auto;
  background: rgba(15, 23, 42, 0.95);
  border-radius: 14px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  z-index: 10;
}

/* Item */
.country-dropdown li {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.country-dropdown li:hover {
  background: rgba(56, 189, 248, 0.15);
}

.country-dropdown img {
  width: 24px;
  height: 16px;
  margin-right: 12px;
  border-radius: 2px;
}